.App{
  width: 100vw;
  height: 100vh;

}

.flex{
  display: flex;
  justify-content: center;
  position: relative;
  top: 45%;
  transform: translate(0, -45%);
}

.form{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.form button{
  margin-right: 150px;
  width: 10rem;
  height: 5rem;
  background-color: #E4D9FF;
  border: none;
  border-radius: 3px;
}

.velocityForm input{
  display: block;
  margin-top: 25px;
}